* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	width: 500px;
	margin: 2rem auto;
}


/* DEBUG SECTION */

.debug header {
	height: 100px;
	background-color: #e579e6;
}

.debug .banner {
	background-color: #e1d67a;
}

.debug .section-main {
	background-color: #0085fd;
}

.debug .section-header {
	height: 50px;
	background-color: #abcfe7;
}

.debug .col {
	height: 300px;
	background-color: #abcfe7;
}

.debug footer {
	height: 100px;
	background-color: #8801fe;
}




/* MAIN CSS */

.banner {
	height: 300px;
	margin: 1rem 0;
}

.section-main {
	margin-bottom: .5rem;
	padding-bottom: 1rem;
}

.section-header {
	margin-bottom: 1rem;
}

.col {
	width: 20%;
	float: left;
}

.col-center {
	width: 50%;
	margin-right: 1rem;
	margin-left: 1rem;
}

.col-left,
.col-right {
	width: calc((100% - 50% - 2rem) / 2);
}
