* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 16px;
	color: grey;
}

a {
	color: grey;
}

a:visited {
	color: grey;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	max-width: 900px;
	margin: 1rem auto;
}

.rounded {
	border-radius: .8rem;
}

.logo {
	height: 3rem;
}

.nav-bar {
	margin: 1rem 0;
}

.nav-bar ul {
	list-style: none;
	font-size: 0;
}

.nav-bar li {
	display: inline-block;
	font-size: 16px;
}

.nav-bar a {
	display: inline-block; /* applicato qui per aumentare l'area cliccabile del link */
	padding: 1em 1.2em;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-bar a:hover {
	background-color: lightgrey;
}

.banner {
	height: 400px;
	margin: 1rem 0;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	color: white;
}

.banner .banner-article {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 250px 40% 2rem 2rem;
}

.section-main {
	margin-bottom: .5rem;
	padding-bottom: 1rem;
}

.section-main .section-header {
	margin-bottom: 1rem;
}

.section-main h1,
.section-main h2 {
	color: black;
}

.section-main .col {
	width: 20%;
	float: left;
}

.section-main .col-center {
	width: 50%;
	margin-right: 1rem;
	margin-left: 1rem;
}

.section-main .col-left,
.section-main .col-right {
	width: calc((100% - 50% - 2rem) / 2);
}

.section-main img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
	filter: brightness(0.8);
}

footer {
	text-align: center;
}

footer span {
	vertical-align: middle;
}

footer .heart {
	color: red;
	font-size: 25px;
	margin-left: .2em;
}